<section class="features_area">
		<div class="container">
			<div class="row justify-content-center">
				<div class="col-lg-8 text-center">
					<div class="main_title">
						<h2>services </h2>
						<p>
                " A life of significance is about serving those who need your gifts,
                <br> your leadership, your purpose.” <br>
                 ~ Kevin Hall
            </p>

					</div>
				</div>
			</div>
			<div class="row feature_inner">
				<div class="col-lg-3 col-md-6">
					<div class="feature_item">
						<img src="img/services/s1.png" alt="">
						<h4>Human Service</h4>
						<p>The first and most important service is service to humanity.</p>
					</div>
				</div>
				<div class="col-lg-3 col-md-6">
					<div class="feature_item">
						<img src="img/services/s2.png" alt="">
						<h4>Front End Dev</h4>
						<p>Building smart and responsive Web Applications, leveraging on JavaScript libraries and frameworks to enhance User Experience.</p>
					</div>
				</div>
				<div class="col-lg-3 col-md-6">
					<div class="feature_item">
						<img src="img/services/s3.png" alt="">
						<h4>Back End Dev</h4>
						<p>Working on the server and utilizing databases to build dynamic and well documented APIs.</p>
					</div>
				</div>
				<div class="col-lg-3 col-md-6">
					<div class="feature_item">
						<img src="img/services/s4.png" alt="">
						<h4>Mobile App</h4>
						<p>Building Smart Mobile Hybrid Applications, across both Android and iOS platforms</p>
					</div>
				</div>
			</div>
		</div>
	</section>
