<section class="portfolio_area" id="portfolio">
		<div class="container">
			<div class="row">
				<div class="col-lg-12">
					<div class="main_title text-left">
						<h2>Recent Projects </h2>
					</div>
				</div>
			</div>


			<div class="filters-content">
				<div class="row portfolio-grid justify-content-center">
					<div class="col-lg-4 col-md-6 all latest">
						<div class="portfolio_box">
							<div class="single_portfolio">
								<img class="img-fluid w-100" src="assets/portfolio/busolami.png" alt="">
								<div class="overlay"></div>
								<a href="assets/portfolio/busolami.png" class="img-gal">
									<div class="icon">
										<span class="lnr lnr-cross"></span>
									</div>
								</a>
							</div>
							<div class="short_info">
								<h4><a href="#">Busola stores (Ecommerce)</a></h4>
								<p>WordPress, Front End</p>
							</div>
						</div>
					</div>
					<div class="col-lg-4 col-md-6 all popular">
						<div class="portfolio_box">
							<div class="single_portfolio">
								<img class="img-fluid w-100" src="assets/portfolio/book-a-meal.png" alt="">
								<div class="overlay"></div>
								<a href="assets/portfolio/book-a-meal.png" class="img-gal">
									<div class="icon">
										<span class="lnr lnr-cross"></span>
									</div>
								</a>
							</div>
							<div class="short_info">
								<h4><a href="#">Book a Meal (Web App)</a></h4>
								<p>HTML, CSS, React and NodeJS</p>
							</div>
						</div>
					</div>
					<div class="col-lg-4 col-md-6 all latest">
						<div class="portfolio_box">
							<div class="single_portfolio">
								<img class="img-fluid w-100" src="assets/portfolio/dezion.png" alt="">
								<div class="overlay"></div>
								<a href="assets/portfolio/dezion.png" class="img-gal">
									<div class="icon">
										<span class="lnr lnr-cross"></span>
									</div>
								</a>
							</div>
							<div class="short_info">
								<h4><a href="#">Dezion (Web App)</a></h4>
								<p>Angular, TypeScript</p>
							</div>
						</div>
					</div>
					<div class="col-lg-4 col-md-6 all popular">
						<div class="portfolio_box">
							<div class="single_portfolio">
								<img class="img-fluid w-100" src="assets/portfolio/motormata.png" alt="">
								<div class="overlay"></div>
								<a href="assets/portfolio/motormata.png" class="img-gal">
									<div class="icon">
										<span class="lnr lnr-cross"></span>
									</div>
								</a>
							</div>
							<div class="short_info">
								<h4><a href="#">MotorMata (Web/Mobile App)</a></h4>
								<p>Angular, Ionic</p>
							</div>
						</div>
					</div>
					<div class="col-lg-4 col-md-6 all following">
						<div class="portfolio_box">
							<div class="single_portfolio">
								<img class="img-fluid w-100" src="assets/portfolio/sociallender.png" alt="">
								<div class="overlay"></div>
								<a href="assets/portfolio/sociallender.png" class="img-gal">
									<div class="icon">
										<span class="lnr lnr-cross"></span>
									</div>
								</a>
							</div>
							<div class="short_info">
								<h4><a href="#">Social Lender (Web/Mobile App)</a></h4>
								<p>Angular, Ionic</p>
							</div>
						</div>
					</div>
					<div class="col-lg-4 col-md-6 all upcoming">
						<div class="portfolio_box">
							<div class="single_portfolio">
								<img class="img-fluid w-100" src="assets/portfolio/places-app.PNG" alt="">
								<div class="overlay"></div>
								<a href="assets/portfolio/places-app.PNG" class="img-gal">
									<div class="icon">
										<span class="lnr lnr-cross"></span>
									</div>
								</a>
							</div>
							<div class="short_info">
								<h4><a href="portfolio-details.html">Places App(Mobile App)</a></h4>
								<p>Ionic, Firebase</p>
							</div>
						</div>
					</div>

				</div>
			</div>
		</div>
	</section>
