<section class="home_banner_area">
  <div class="banner_inner">
    <div class="container">
      <div class="row">
        <div class="col-lg-7">
          <div class="banner_content">
            <h3 class="text-uppercase">Hell0</h3>
            <h1 class="text-uppercase">I am Omobolanle Aro</h1>
            <h5 class="text-uppercase">A Mean-Stack web developer</h5>
            <div class="d-flex align-items-center">
              <a class="primary_btn" href="#contact"><span>Contact Me</span></a>
              <a class="primary_btn tr-bg" href="https://docs.google.com/document/d/1flnwTvoIeGZay43EpcXrkRBhQQoruZH9OuDG0uy1CtE/edit?usp=sharing" target="_blank"><span>Get CV</span></a>
            </div>
          </div>
        </div>
        <div class="col-lg-5">
          <div class="home_right_img">
            <img class="" src="../assets/banner/home-right.png" alt="">
          </div>
        </div>
      </div>
    </div>
  </div>
</section>
<!--================ End Home Banner Area =================-->
