<section class="about_area section_gap">
  <div class="container">
    <div class="row justify-content-start align-items-center">
      <div class="col-lg-5">
        <div class="about_img">
          <img class="" src="./assets/about-us.png" alt="">
        </div>
      </div>

      <div class="offset-lg-1 col-lg-5">
        <div class="main_title text-left">
          <h2>let’s <br>
            talk about me</h2>
          <p>
            I am a Front-End Web and Mobile Application developer on the intermediate level who has always been thrilled by how web technologies work.
            This has always motivated me to learn more about the web and the technologies that surround it.
          </p>
          <p>
            My main objective is to be an exceptional individual committed to the satisfaction and
            goal achievement of any organization I find myself via teamwork and proactive innovation, solutions and contributing extensively to the growth thereby adding value and assisting leads in operations unit
          </p>
          <a class="primary_btn" href="#"><span>Learn more</span></a>
        </div>
      </div>
    </div>
  </div>
</section>
